@keyframes progress-appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(-260deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.purplecolor {
  color: #9356DC;
}

.greycolor {
  color: #646262;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* a {
  text-decoration: none;
}

body {
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.header__logo {
  padding: 20px;
  width: 100%;
}
.header__location {
  font-weight: bold;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
}
.header__location i {
  margin-right: 20px;
  margin-bottom: 4px;
}
.header__description {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
}

.header-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-menu__logo {
  width: 55%;
  padding: 15px;
}
@media all and (min-width: 1024px) {
  .header-menu__logo {
    width: 15%;
  }
}
@media all and (min-width: 700px) and (max-width: 1023px) {
  .header-menu__logo {
    width: 25%;
  }
}
.header-menu__arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5em;
  color: black;
}
.header-menu__image {
  width: 100%;
}
@media all and (min-width: 1024px) {
  .header-menu__image {
    height: 700px;
    object-fit: cover;
  }
}

.main {
  position: relative;
}
.main-section {
  width: 100%;
  background-color: #EAEAEA;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  top: -70px;
}
@media all and (min-width: 1024px) {
  .main-section {
    top: -235px;
  }
}
.main-section__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  margin-left: 20px;
}
@media all and (min-width: 1024px) {
  .main-section__title {
    font-size: 1.8em;
    text-align: center;
  }
}
.main-section i {
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 2em;
}
.main-section__heartempty {
  font-weight: 100;
  -webkit-text-stroke: 1.5px #EAEAEA;
}
.main-section__heartfull {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 600ms ease;
  opacity: 0;
}
.main-section__heartfull:active {
  opacity: 1;
  transform: scale(1.2);
}
@media all and (min-width: 1024px) {
  .main-section__heartfull:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}

.menu {
  width: 100%;
}
@media all and (min-width: 1024px) {
  .menu {
    margin-top: 80px;
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  }
}
.menu__list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  margin-top: 25px;
}
@media all and (min-width: 1024px) {
  .menu__list {
    display: grid;
    grid-area: 3;
  }
}
.menu__title {
  position: relative;
  margin-left: 20px;
}
@media all and (min-width: 1024px) {
  .menu__title {
    grid-area: 1;
  }
}
.menu__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-bottom: 4px solid #99E2D0;
  width: 40px;
}
.menu__dish {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.1), 0px 7px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 70px;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  animation: progress-appear 1s;
}
.menu__dish:nth-child(1) {
  animation-delay: 100ms;
}
.menu__dish:nth-child(2) {
  animation-delay: 200ms;
}
.menu__dish:nth-child(3) {
  animation-delay: 300ms;
}
.menu__description {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 1rem;
}
.menu__description-text {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description-text h4 {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__description-text p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description-price {
  padding: 1rem;
  margin: 0;
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}
.menu__description-check {
  display: none;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 1s;
  flex-shrink: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.menu__description-check i {
  color: white;
  font-size: 25px;
}
.menu__description:hover i {
  animation: spin 1s ease-in-out;
}
.menu__description:hover .menu__description-check {
  margin-right: 0;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.1), 0px 7px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  color: white;
  font-size: 1.1em;
  padding: 20px 10px;
  cursor: pointer;
  width: 250px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-menu {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.1), 0px 7px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  color: white;
  width: 190px;
  text-align: center;
  padding: 15px;
  margin-top: 0px;
  margin-left: 25%;
  margin-bottom: 60px;
}
.btn-menu:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 400ms;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.349), 0px 7px 15px 0px rgba(0, 0, 0, 0.349);
}
@media all and (min-width: 1024px) {
  .btn-menu {
    text-align: center;
    padding: 20px;
    margin-left: 42%;
    margin-bottom: 80px;
    margin-top: 100px;
  }
}
@media all and (min-width: 700px) and (max-width: 1023px) {
  .btn-menu {
    margin-left: 35%;
  }
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 400ms;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.349), 0px 7px 15px 0px rgba(0, 0, 0, 0.349);
}

.operation {
  width: 100%;
  margin: auto;
  padding-left: 5px;
}
.operation h1 {
  margin-left: 20px;
  padding-top: 20px;
}
.operation__list {
  list-style-type: none;
  padding: 0 10px 10px 10px;
}
@media all and (min-width: 1024px) {
  .operation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media all and (min-width: 700px) and (max-width: 1023px) {
  .operation__list {
    display: flex;
    flex-direction: column;
  }
}
.operation__step {
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.1), 0px 7px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  height: 70px;
  width: 85%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  position: relative;
}
@media all and (min-width: 1024px) {
  .operation__step {
    width: 300px;
  }
}
@media all and (min-width: 700px) and (max-width: 1023px) {
  .operation__step {
    width: 55%;
  }
}
.operation__step:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: 350ms;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.349), 0px 7px 15px 0px rgba(0, 0, 0, 0.349);
}
.operation__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  width: 90%;
}
.operation__icon i {
  margin-right: 30px;
}
.operation__number {
  width: 32px;
  border-radius: 60px 60px 60px 60px;
  color: white;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  text-align: center;
  padding: 5px;
  position: absolute;
  left: -20px;
}

.restaurants {
  padding: 20px;
  background-color: #f2f2f2;
  max-width: 1200px;
}
@media all and (min-width: 1024px) {
  .restaurants {
    width: 100%;
    max-width: 100%;
  }
}
.restaurants__list {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(1, 1fr);
  grid-gap: 15px;
  width: 100%;
}
.restaurants__list a {
  text-decoration: none;
}
@media all and (min-width: 1024px) {
  .restaurants__list a:hover {
    transform: scale(1.03);
  }
}
@media all and (min-width: 1024px) {
  .restaurants__list {
    padding: 20px 20px;
    grid-template: repeat(1, 1fr)/repeat(4, 1fr);
  }
}
@media all and (min-width: 700px) and (max-width: 1023px) {
  .restaurants__list {
    width: 50%;
  }
}

.card {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.1), 0px 7px 15px 0px rgba(0, 0, 0, 0.1);
}
@media all and (min-width: 700px) and (max-width: 1023px) {
  .card {
    margin-left: 50%;
  }
}
.card__image {
  width: 100%;
  height: 190px;
  position: relative;
}
.card__image-new {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 85px;
  height: 30px;
  background-color: #99E2D0;
  text-align: center;
  padding: 5px;
  color: #099c46;
}
.card .img {
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0px 0px;
  object-fit: cover;
}
.card__title {
  font-weight: bold;
}
.card__location {
  font-weight: normal;
}
.card__content {
  width: 100%;
  height: 70px;
  background-color: white;
  color: black;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.card__heart {
  font-size: xx-large;
  position: relative;
}
.card__heart i {
  position: absolute;
  right: 1rem;
  top: -1rem;
  font-size: 2rem;
}
.card__heart-empty {
  -webkit-text-stroke: 1px white;
  font-weight: 100;
}
.card__heart-full {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 600ms ease;
  opacity: 0;
}
.card__heart-full:active {
  opacity: 1;
  transform: scale(1.2);
}
@media all and (min-width: 1024px) {
  .card__heart-full:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}

.footer {
  width: 100%;
  background-color: rgba(31, 28, 28, 0.897);
  padding: 10px 20px 20px 20px;
}
.footer-menu {
  margin-top: 1130px;
  position: absolute;
  width: 100%;
  background-color: rgba(31, 28, 28, 0.897);
  padding: 10px 20px 20px 20px;
}
@media all and (min-width: 1024px) {
  .footer-menu {
    margin-top: 540px;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: large;
  padding-bottom: 10px;
  color: white;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media all and (min-width: 1024px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }
}
.footer__restaurant span {
  margin-left: 15px;
}
.footer__partner span {
  margin-left: 10px;
}
.footer__contact a {
  text-decoration: none;
  color: white;
}

.loader {
  background: white;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: loader 2s 2s forwards;
  transform-origin: top;
  display: grid;
  place-items: center;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-top: 5px solid #FF79DA;
  border-bottom: 5px solid #99E2D0;
  border-left: 5px solid #9356DC;
  border-right: 5px solid #EAEAEA;
  border-radius: 50%;
  animation: spinner 2s infinite ease-in-out;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
