$color-primary:#9356DC; 
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$box-shadow: 0px 5px 25px 4px rgba(0,0,0,0.1),0px 7px 15px 0px rgba(0,0,0,0.1); 
$border-radius:2rem;

$breakpoints: (
    desktop: 1024px,
    tablette: 700px
);

@mixin desktop {
    @media all and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin tablette {
    @media all and (min-width: map-get($breakpoints, tablette)) and (max-width: 1023px) {
        @content;
    }
}

@mixin btn-style {
    background: linear-gradient($color-secondary, $color-primary); 
    opacity: 1;  
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    color: #ffff;
}

@mixin btn-hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 400ms;
    box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.349),0px 7px 15px 0px rgba(0, 0, 0, 0.349);
}
@mixin heart-style {
    opacity: 1;
    transform: scale(1.2);
}

@mixin operation-style {
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 0px 5px 25px 4px rgba(0,0,0,0.1),0px 7px 15px 0px rgba(0,0,0,0.1); 
    background-color: lighten(#EAEAEA, 3%);
    height:70px;
    width: 85%;
    margin:30px auto;
    display: flex;
    align-items: center;
    position: relative
}

@mixin operation-hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 350ms;
    box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.349),0px 7px 15px 0px rgba(0, 0, 0, 0.349);
}

@mixin footer-style {
    width: 100%;
    background-color: rgba(31, 28, 28, 0.897);
    padding: 10px 20px 20px 20px;
}


@keyframes progress-appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(-260deg);

    }
    100% {
        transform: rotate(0deg);
    }
}


.purplecolor{
    color: $color-primary;
}
.greycolor{
    color:rgba($color: #646262, $alpha: 1.0)
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
* a {
    text-decoration: none;
}

body {
    margin: auto;
}

.header {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    text-align: center;
    &__logo {
        padding: 20px;
        width: 100%;
    }
    &__location {
        font-weight: bold;
        width: 100%;
        background-color: #EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    }
    &__location i {
        margin-right: 20px;
        margin-bottom: 4px;
    }
    &__description {
        width: 100%;
        padding: 20px;
        background-color: lighten(#EAEAEA, 3%);
    }
}

.header-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__logo{
        width: 55%;
        padding: 15px;
        @include desktop {
            width: 15%;
        }
        @include tablette {
            width: 25%;
        }
    }
    &__arrow {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5em;
        color: black;      
    }
    &__image {
        width: 100%;
        @include desktop {
            height: 700px;
            object-fit: cover;
        }
    }
}

.main {
    position: relative;
    &-section {
        width: 100%;
        background-color: #EAEAEA;
        border-radius: 40px 40px 0px 0px;
        position: absolute;
        top: -70px;
        @include desktop {
            top: -235px;
        }

        &__title {
            font-family: 'Shrikhand', cursive;
            font-size: 1.5em;
            margin-left: 20px;
            @include desktop {
                font-size: 1.8em;
                text-align: center;
            }
        }
        & i {
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2em;
        }
        &__heartempty {
            font-weight: 100;
            -webkit-text-stroke: 1.5px #EAEAEA;
        }
            
        &__heartfull {
            color: transparent;
            -webkit-background-clip: text;
            background-image: linear-gradient(#FF79DA, #9356DC);
            transition: all 600ms ease;
            opacity: 0;
            &:active {
                @include heart-style;
            }
            @include desktop {
                &:hover {
                    @include heart-style;
                }     
            }
        }      
    }
}

.menu {
    width: 100%;
    @include desktop {
        margin-top: 80px;
        display: grid;
        grid-template: repeat(1,1fr)/repeat(3,1fr);
    }
    &__list {
        list-style-type: none;
        padding: 0;
        padding-bottom: 10px;
        margin-top: 25px;
        @include desktop {
            display: grid;
            grid-area: 3;
        }
    }
    &__title {
        position: relative;
        margin-left: 20px;
        @include desktop {
            grid-area: 1;
        }
        &::after {
            content: "";
            position:absolute;
            bottom: -10px;
            left: 0;
            border-bottom: 4px solid #99E2D0;
            width: 40px;
        }
    }
    &__dish {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: $box-shadow;
        background-color: #ffff;
        height:70px;
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        animation: progress-appear 1s;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }
        }
    &__description {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 1rem;       
        &-text {
            padding: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            & h4 {
                padding: 0;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            
            & p {
                padding: 0;
                margin: 0;  
                overflow: hidden;
                text-overflow: ellipsis;          
            }
        }
        &-price {
            padding: 1rem;
            margin: 0;
            margin-left: auto;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            z-index: 1;
        }
        &-check {
            display: none;
            $button-width: 4rem;
            background-color: $color-tertiary;
            margin-right: -1* $button-width;
            width: $button-width;
            border-radius: 0 1rem 1rem 0;
            transition: margin-right 1s;
            flex-shrink: 0;
            cursor: pointer;
            display: grid;
            place-items: center;
                & i {
                    color: white;
                    font-size: 25px;
                }
            }
        &:hover i {
            animation: spin 1s ease-in-out;
        }
        &:hover .menu__description-check {
            margin-right: 0;
        }
    } 
}

.btn {
    @include btn-style;
    font-size: 1.1em;
    padding: 20px 10px;
    cursor: pointer;
    width: 250px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    &-menu {
        @include btn-style;
        width: 190px;
        text-align: center;
        padding: 15px;
        margin-top: 0px;
        margin-left: 25%;
        margin-bottom: 60px;
        &:hover {
            @include btn-hover;
        }
        @include desktop {
            text-align: center;
            padding: 20px;
            margin-left: 42%;
            margin-bottom: 80px;
            margin-top: 100px;
        }
        @include tablette {
            margin-left: 35%;
        }
    }
    &:hover{
        @include btn-hover;
    }
}

.operation {
    width: 100%;
    margin: auto;
    padding-left: 5px;
    & h1{
        margin-left: 20px;
        padding-top: 20px
    }
    &__list {
        list-style-type: none;
        padding: 0 10px 10px 10px;
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include tablette {
            display: flex;
            flex-direction: column;
        }
    }

    &__step {
        @include operation-style;
        @include desktop {
            width: 300px;
        }
        @include tablette {
            width: 55%;
        }
        &:hover{
            @include operation-hover;
        }
    }
    &__icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40px;
        width:90%;
        & i {
            margin-right: 30px;
        }
    }
    &__number {
        width: 32px;
        border-radius: 60px 60px 60px 60px;
        color: #ffff;
        background-color: $color-primary;
        border:1px solid $color-primary;
        text-align: center;
        padding: 5px;
        position: absolute;
        left: -20px;
    }
}

.restaurants {
    padding: 20px;
    background-color: lighten(#EAEAEA, 3%);
    max-width: 1200px;
    @include desktop {
        width: 100%;
        max-width: 100%;
    }
    &__list {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
        grid-gap: 15px;
        width: 100%;
        & a {
            text-decoration: none;
            @include desktop {
                &:hover {
                    transform: scale(1.03);
                }
            }
        }
        @include desktop {
            padding: 20px 20px;
            grid-template: repeat(1, 1fr) / repeat(4, 1fr);
        }  
        @include tablette{
            width: 50%;
        }
    }
}

.card {
    width: 100%;
    border-radius: 30px;
    box-shadow: $box-shadow;
    @include tablette {
        margin-left: 50%;
    }
    &__image {
        width: 100%;
        height: 190px;
        position: relative;
        &-new{
            position: absolute;
            right: 15px;
            top: 15px;
            width: 85px;
            height: 30px;
            background-color: $color-tertiary;
            text-align: center;
            padding: 5px;
            color: rgba($color: #099c4688, $alpha: 1.0);
        }
    }
    & .img {
        width: 100%;
        height: 100%;
        border-radius: 30px 30px 0px 0px;
        object-fit: cover;
    }
    &__title {
        font-weight: bold;   
    }
    &__location {
        font-weight: normal;
    }
    &__content {
        width: 100%;
        height: 70px;
        background-color: #ffff;
        color: black;
        border-radius: 0px 0px 30px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__heart {
        font-size: xx-large;
        position: relative;

        & i {
            position: absolute;
            right: 1rem;
            top: -1rem;
            font-size: 2rem;

        }
    &-empty {
        -webkit-text-stroke: 1px white;
        font-weight: 100;
    
    }
    &-full {
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient($color-secondary, $color-primary); 
        transition: all 600ms ease;
        opacity: 0;
        &:active {
            opacity: 1;
            transform: scale(1.2);
        }
        @include desktop {
            &:hover {
                @include heart-style;
            }
        }
    }

    }
}

.footer {
    @include footer-style;
    &-menu {
        margin-top: 1130px;
        position: absolute;
        @include footer-style;
        @include desktop {
            margin-top: 540px;
        }
    }
    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: large;
        padding-bottom: 10px;
        color:#ffff;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        color: #ffff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 100px;
        }
    }
    &__restaurant span {
        margin-left: 15px;
    }
    &__partner span {
        margin-left: 10px;
    }
    &__contact a{
        text-decoration: none;
        color:#ffff
    }
}

.loader {
    background: #ffff;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: 2;
    opacity: 0.9;
    animation: loader 2s 2s forwards;
    transform-origin: top;
    display: grid;
    place-items: center;
    &::after {
        content: "";
        height: 100px;
        width: 100px;
        border-top: 5px solid $color-secondary;
        border-bottom: 5px solid $color-tertiary;
        border-left: 5px solid $color-primary;
        border-right: 5px solid #EAEAEA;
        border-radius: 50%;
        animation: spinner 2s infinite ease-in-out;
    }
}
@keyframes loader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}